#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
  
}

.card-produto{
  background-color: rgb(251, 251, 251);
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 0.5px 4px 0px rgba(7, 1, 1, 0.75);
  -moz-box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
  box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
}

.img-produto{
  overflow: hidden;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  height: 300px;
}

.img-produto img{
  height: 100%;
}

.titulo-produto{
  text-align: center;
  color: #8004EB;
  font-weight: bold;
}

.valor-produto{
  text-align: center;
  color: #020000;
  font-weight: bold;
}

.col-botao-detalhes{
  margin-top: 15px;
  text-align: center;
  color: #da2f2f;
  font-weight: bold;
}

.botao-detalhes{
  padding: 6px 12px;
  background-color: var(--amarelo);
  color: var(--white-smoke);
  width: 100px;
  border-radius: 4px;
  text-align: center;
  
}

.slide-actived{
  font-weight: 500;
  border: 1px solid var(--white-smoke);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}

.slide-no-actived{
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  color: #ffffff;
}

.menu-icon {
  color: #000000;
  font-size: 25px;
  z-index: auto;
}



