<ion-header>

  <ion-row class="ion-align-items-center header-line">
    <ion-col size="2" class="menu-icon">
      <ion-icon name="reorder-three"></ion-icon>
    </ion-col>
    <ion-col size="8">
      MFM Salgados
    </ion-col>
    <ion-col size="2" class="ion-text-end account-icon">
      <ion-icon name="pizza"></ion-icon>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-align-items-center header-subline">
    <ion-slides pager="false" class="slide-line" [options]="slideOpts">
      <ion-slide *ngFor="let categoria of categorias; let ix = index" [ngClass]="categoria.codigo == selected ? 'slide-actived' : 'slide-no-actived'" (click)="setSelected(categoria.codigo)">
        {{ categoria.nome }}
      </ion-slide>
    </ion-slides>
  </ion-row>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="8" *ngFor="let produto of produtos; let ix = index" [hidden]="!produto.visibled" (click)="goProduto(produto)">
      <ion-row>
        <ion-col size="12" class="card-produto">
          
          <ion-row>
            <ion-col size="12" class="img-produto">
              <img [src]="pathImgs + produto.imagens[0]"/>
            </ion-col>
          </ion-row>

          <ion-row style="height: 45px;">
            <ion-col size="12" class="titulo-produto">
              {{produto.nome}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="valor-produto">
              {{ formataValor(produto.valor) }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="col-botao-detalhes">
              <span class="botao-detalhes"> Detalhes </span>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-order">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
</ion-footer>